<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet">

</head>
<body>
<form th:method="POST" th:action="@{/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="firstname">Name: </label>
    <input type="text" th:field="*{firstName}" th:value="${user.getFirstName()}" id="firstname">
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" th:value="${user.getLastName()}" id="lastName">
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" th:value="${user.getAge()}" id="age">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" th:value="${user.getUsername()}" id="username">
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" minlength="1" required id="password">
    <p>
        <label>Roles:
            <input type="checkbox" name="roles" id="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>